
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List Albums</title>
</head>
<body>


  <select id="orderBy">
    <option value="averageRating">Fair Average</option>
    <option value="releaseDate">Release Date</option>
    <option value="albumName">Album Name</option>
    <option value="artists">Artist Name</option>
    <option value="controversy">Controversy</option>
  </select>

  <select id="orderDir">
    <option value="ASC">Ascending</option>
    <option value="DESC">Descending</option>
  </select>

  <input id="inputResults" type="number" value="25">
  
  <% if (page > 1) { %>
    <a href="http://localhost:8000?page=<%= (page - 1) %>"><</a>
  <% } %>
  <%= page %>
  <a href="http://localhost:8000?page=<%= (++page) %>">></a>
  <button onclick="getResults()">Apply</button>

<ul id="data">
  <% items.forEach(function(item) { %>
            <li>
            <a href="album/<%= item.id %>">
              <h3><%= item.albumName %></h3>
              
              <h4><%= item.artists %></h4>

              <p>
                <% if (item.averageRating) { %>
                  <%= item.averageRating %>
                <% } else { %>
                  NA
                <% } %>
              </p>

              <img src=<%= item.coverLink %> , width=100px, height=100px >

              
              <p><%= (new Date(item.releaseDate)).toLocaleDateString("de-DE") %></p>
              <p><%= item.genres %></p>
              </a>
            </li>
        <% });%>
</ul>

  <% if (page > 1) { %>
    <a href="http://localhost:8000?page=<%= (page - 1) %>"><</a>
  <% } %>
  <%= page %>
  <a href="http://localhost:8000?page=<%= (++page) %>">></a>


<script src=/script.js></script>

</body>
</html>




